body {
	height: 100vh;
	padding: $padding-block-xl $padding-inline;
	background-image: url(../../assets/atom.svg);
	@include background(center, 45rem auto, no-repeat);
}

button {
	background-color: transparent;
}
