@mixin quick-center {
	margin-inline: auto;
}

@mixin pseudo-element($content: "", $display: block, $position: absolute) {
	content: $content;
	display: $display;
	position: $position;
}

@mixin flex-box($direction, $gap, $align, $justify) {
	display: flex;
	flex-direction: $direction;
	gap: $gap;
	align-items: $align;
	justify-content: $justify;
}

@mixin position($position, $top, $right, $bottom, $left) {
	position: $position;
	inset: $top $right $bottom $left;
}

@mixin typography(
	$font-size,
	$font-weight,
	$letter-spacing: false,
	$text-trasform: false
) {
	font-size: $font-size;
	font-weight: $font-weight;
	@if $letter-spacing {
		letter-spacing: $letter-spacing;
	}
	@if $text-trasform {
		text-transform: $text-trasform;
	}
}

@mixin background($position, $size, $repeat) {
	background-position: $position;
	background-size: $size;
	background-repeat: $repeat;
}

@mixin width-height($width, $height: false) {
	width: $width;
	height: $width;
	@if $height {
		height: $height;
	}
}
