$base-color: #241724;
$accent-color: #be2927;
$yellow: #fff600;

$heading-font: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$base-font: "Rubik", sans-serif;

$font-size-headings: 2rem;
$font-size-base: 1rem;

$padding-inline: 3rem;
$padding-block-xl: 6rem;
$padding-block-sm: 4rem;
